
.main{
    background-color:  #D6184D;
    width:100%;
    overflow: hidden;
    /* height: 160vh; */
   color: white;
   font-family: 'Poppins', sans-serif;
   font-size:large;
   padding: 80px;
}
.img{
  
height:60vh;
align-items: center;
}
.btn-cont{
    display: flex;
    align-items: center;
}
.btn-container{
    text-align: center;
    width: 100%;
 }
 .inside-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .photo{
     background-color: black;
color: white;
display: flex;
align-items: center;
justify-content: center;

overflow: hidden;
 }
 .photo{
     /* background-; */
     background-image: url('../images/mask.png');
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     font-size:4rem;
     text-align: center;
     font-weight: 800;
    width:100vw;

 }
#outline{
    background-color: rgba(255, 255, 255, 0);
color: white;
border: 2px solid white;
    
 }
 .ph{
     /* background-color: black; */
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;

 }
 .ph-child{

     /* backgr/ound-color: wheat; */
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
/* justify-content: space-between; */
     margin: 10px;
     height: 250px;
     width: 250px;
     margin-top:50px;
 }
 .ph-child img{
     margin-bottom: 5vh;
 }
 .badge{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	background: rgba(31,206,255,1);
	border: 2px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -15px;
	right: -15px;
	transition: all .3s;
}
.refer{
    height: 50%;
    width: 50%;
}
#referf{
    background-color: white;
    color: black;
}

.inp{
    height: 3vh;
    outline: 2px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px;
    width: 80%;
    margin-top: 10px;
}
.btn2{
    background-color: #000;
    color: white;
    width: 60%;
}

@media  only screen and (max-width: 600px){
    
.inp{
    width: 100%;
}
.btn{

    align-items: center;
    flex-direction: column;
}
.ph-child{
    height: 180px;


}
.btn-cont{
    flex-direction: column;
}


}